<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6000</key>
	<dict>
		<key>4DH12-06Q</key>
		<dict>
			<key>options</key>
			<array>
				<string>Mast Height</string>
			</array>
			<key>additional options</key>
			<array>
				<string>Cabin</string>
				<string>Exterior Mirrors</string>
				<string>Fork Positioner</string>
				<string>Block Heater</string>
				<string>Freelift</string>
			</array>
			<key>mast height</key>
			<array>
				<string>12&apos; Standard</string>
				<string>14&apos;</string>
				<string>16&apos;</string>
				<string>18&apos;</string>
				<string>21&apos;</string>
			</array>
			<key>specifications</key>
			<dict>
				<key>Capacity(lbs)</key>
				<string>6000</string>
				<key>Standard Mass Lift Height</key>
				<string>144&apos;&apos;</string>
				<key>Height Mast Closed</key>
				<string>115&apos;&apos;</string>
				<key>Maximum</key>
				<string>186&apos;&apos;</string>
				<key>Overall length</key>
				<string>99&apos;&apos;</string>
				<key>Mast travel </key>
				<string>48&apos;&apos;</string>
				<key>Ground clearence</key>
				<string>8&apos;&apos;</string>
				<key>Ground to wheelbase</key>
				<string>9&apos;&apos;</string>
				<key>Height</key>
				<string>102&apos;&apos;</string>
				<key>Width</key>
				<string>87.5&apos;&apos;</string>
				<key>Ouside spread of fork</key>
				<string>48&apos;&apos;</string>
				<key>Track front</key>
				<string>74&apos;&apos;</string>
				<key>Frame opening</key>
				<string>55&apos;&apos;</string>
				<key>Wheel base</key>
				<string>80.5&apos;&apos;</string>
				<key>Approach angle</key>
				<string>45˚</string>
				<key>Ramp angle</key>
				<string>30˚</string>
				<key>Departure angle</key>
				<string>45˚</string>
				<key>Unladen weight</key>
				<string>12100</string>
				<key>Maximum speed</key>
				<string>10mph</string>
				<key>Gradeability</key>
				<string>20%</string>
				<key>Gas type</key>
				<string>various</string>
				<key>Fork section 50mm</key>
				<string>6&apos;&apos;x46&apos;&apos;</string>
				<key>Front tire</key>
				<string>18&apos;&apos;x8&apos;&apos;</string>
				<key>Rear tire</key>
				<string>27&apos;&apos;x10&apos;&apos;</string>
				<key>Forward tilt</key>
				<string>5˚</string>
				<key>Backward tilt</key>
				<string>5˚</string>
				<key>Min out rad</key>
				<string>99</string>
				<key>Platform height</key>
				<string>24</string>
			</dict>
			<key>series</key>
			<string>4DML SERIES</string>
			<key>imgName</key>
			<string>4DML.png</string>
			<key>description</key>
			<string>The 4D MultiLoader (4DML) Series is a four way, all-wheel drive, all-wheel steer and all-wheel brake truck that is offered in capacities from 6,000 to 22,000 lbs and lift heights from 12’ to 24’. It undertakes
the duties of aisle truck, traditional forklift and sideloader. Equipment features include a hydrostatic drive system, a torsion resistant frame consisting of up to 8” thick steel plate and a ergonomically designed operator’s compartment. Spreader carriages are offered up to 30’ with outer fixed forks. Guide rollers can be added for specialty applications. The 4DML is an ideal series for handling long or normal loads that have to go from inside or outside, on to or off of racks and narrow aisles and doorways.</string>
			<key>type</key>
			<string>4DML</string>
			<key>name</key>
			<string>4DH12-06Q</string>
		</dict>
	</dict>
	<key>8000</key>
	<dict>
		<key>4DH12-08Q</key>
		<dict>
			<key>options</key>
			<array>
				<string>Mast Height</string>
			</array>
			<key>additional options</key>
			<array>
				<string>Cabin</string>
				<string>Exterior Mirrors</string>
				<string>Fork Positioner</string>
				<string>Block Heater</string>
				<string>Freelift</string>
			</array>
			<key>mast height</key>
			<array>
				<string>12&apos; Standard</string>
				<string>14&apos;</string>
				<string>16&apos;</string>
				<string>18&apos;</string>
				<string>21&apos;</string>
			</array>
			<key>specifications</key>
			<dict>
				<key>Capacity(lbs)</key>
				<string>8000</string>
				<key>Standard Mass Lift Height</key>
				<string>144&apos;&apos;</string>
				<key>Height Mast Closed</key>
				<string>115&apos;&apos;</string>
				<key>Maximum</key>
				<string>186&apos;&apos;</string>
				<key>Overall length</key>
				<string>99&apos;&apos;</string>
				<key>Mast travel </key>
				<string>48&apos;&apos;</string>
				<key>Ground clearence</key>
				<string>8&apos;&apos;</string>
				<key>Ground to wheelbase</key>
				<string>9&apos;&apos;</string>
				<key>Height</key>
				<string>102&apos;&apos;</string>
				<key>Width</key>
				<string>87.5&apos;&apos;</string>
				<key>Ouside spread of fork</key>
				<string>48&apos;&apos;</string>
				<key>Track front</key>
				<string>74&apos;&apos;</string>
				<key>Frame opening</key>
				<string>55&apos;&apos;</string>
				<key>Wheel base</key>
				<string>80.5&apos;&apos;</string>
				<key>Approach angle</key>
				<string>45˚</string>
				<key>Ramp angle</key>
				<string>30˚</string>
				<key>Departure angle</key>
				<string>45˚</string>
				<key>Unladen weight</key>
				<string>13860(lbs)</string>
				<key>Maximum speed</key>
				<string>10mph</string>
				<key>Gradeability</key>
				<string>20%</string>
				<key>Gas type</key>
				<string>various</string>
				<key>Fork section 50mm</key>
				<string>6&apos;&apos;x46&apos;&apos;</string>
				<key>Front tire</key>
				<string>18&apos;&apos;x8&apos;&apos;</string>
				<key>Rear tire</key>
				<string>27&apos;&apos;x10&apos;&apos;</string>
				<key>Forward tilt</key>
				<string>5˚</string>
				<key>Backward tilt</key>
				<string>5˚</string>
				<key>Min out rad</key>
				<string>99</string>
				<key>Platform height</key>
				<string>24</string>
			</dict>
			<key>series</key>
			<string>4DML SERIES</string>
			<key>imgName</key>
			<string>4DML.png</string>
			<key>description</key>
			<string>The 4D MultiLoader (4DML) Series is a four way, all-wheel drive, all-wheel steer and all-wheel brake truck that is offered in capacities from 6,000 to 22,000 lbs and lift heights from 12’ to 24’. It undertakes
the duties of aisle truck, traditional forklift and sideloader. Equipment features include a hydrostatic drive system, a torsion resistant frame consisting of up to 8” thick steel plate and a ergonomically designed operator’s compartment. Spreader carriages are offered up to 30’ with outer fixed forks. Guide rollers can be added for specialty applications. The 4DML is an ideal series for handling long or normal loads that have to go from inside or outside, on to or off of racks and narrow aisles and doorways.</string>
			<key>type</key>
			<string>4DML</string>
			<key>name</key>
			<string>4DH12-08Q</string>
		</dict>
	</dict>
	<key>10000</key>
	<dict>
		<key>4DH12-10Q</key>
		<dict>
			<key>options</key>
			<array>
				<string>Mast Height</string>
			</array>
			<key>additional options</key>
			<array>
				<string>Cabin</string>
				<string>Exterior Mirrors</string>
				<string>Fork Positioner</string>
				<string>Block Heater</string>
				<string>Freelift</string>
			</array>
			<key>mast height</key>
			<array>
				<string>12&apos; Standard</string>
				<string>14&apos;</string>
				<string>16&apos;</string>
				<string>18&apos;</string>
				<string>21&apos;</string>
			</array>
			<key>specifications</key>
			<dict>
				<key>Capacity(lbs)</key>
				<string>10000</string>
				<key>Standard Mass Lift Height</key>
				<string>144&apos;&apos;</string>
				<key>Height Mast Closed</key>
				<string>115&apos;&apos;</string>
				<key>Maximum</key>
				<string>186&apos;&apos;</string>
				<key>Overall length</key>
				<string>99&apos;&apos;</string>
				<key>Mast travel </key>
				<string>48&apos;&apos;</string>
				<key>Ground clearence</key>
				<string>8&apos;&apos;</string>
				<key>Ground to wheelbase</key>
				<string>9&apos;&apos;</string>
				<key>Height</key>
				<string>102&apos;&apos;</string>
				<key>Width</key>
				<string>87.5&apos;&apos;</string>
				<key>Ouside spread of fork</key>
				<string>48&apos;&apos;</string>
				<key>Track front</key>
				<string>74&apos;&apos;</string>
				<key>Frame opening</key>
				<string>55&apos;&apos;</string>
				<key>Wheel base</key>
				<string>80.5&apos;&apos;</string>
				<key>Approach angle</key>
				<string>45˚</string>
				<key>Ramp angle</key>
				<string>30˚</string>
				<key>Departure angle</key>
				<string>45˚</string>
				<key>Unladen weight</key>
				<string>14469(lbs)</string>
				<key>Maximum speed</key>
				<string>10mph</string>
				<key>Gradeability</key>
				<string>20%</string>
				<key>Gas type</key>
				<string>various</string>
				<key>Fork section 50mm</key>
				<string>6&apos;&apos;x46&apos;&apos;</string>
				<key>Front tire</key>
				<string>18&apos;&apos;x8&apos;&apos;</string>
				<key>Rear tire</key>
				<string>27&apos;&apos;x10&apos;&apos;</string>
				<key>Forward tilt</key>
				<string>5˚</string>
				<key>Backward tilt</key>
				<string>5˚</string>
				<key>Min out rad</key>
				<string>99</string>
				<key>Platform height</key>
				<string>24</string>
			</dict>
			<key>series</key>
			<string>4DML SERIES</string>
			<key>imgName</key>
			<string>4DML.png</string>
			<key>description</key>
			<string>The 4D MultiLoader (4DML) Series is a four way, all-wheel drive, all-wheel steer and all-wheel brake truck that is offered in capacities from 6,000 to 22,000 lbs and lift heights from 12’ to 24’. It undertakes
the duties of aisle truck, traditional forklift and sideloader. Equipment features include a hydrostatic drive system, a torsion resistant frame consisting of up to 8” thick steel plate and a ergonomically designed operator’s compartment. Spreader carriages are offered up to 30’ with outer fixed forks. Guide rollers can be added for specialty applications. The 4DML is an ideal series for handling long or normal loads that have to go from inside or outside, on to or off of racks and narrow aisles and doorways.</string>
			<key>type</key>
			<string>4DML</string>
			<key>name</key>
			<string>4DH12-10Q</string>
		</dict>
	</dict>
	<key>12000</key>
	<dict>
		<key>4DH12-12Q</key>
		<dict>
			<key>options</key>
			<array>
				<string>Mast Height</string>
			</array>
			<key>additional options</key>
			<array>
				<string>Cabin</string>
				<string>Exterior Mirrors</string>
				<string>Fork Positioner</string>
				<string>Block Heater</string>
				<string>Freelift</string>
			</array>
			<key>mast height</key>
			<array>
				<string>12&apos; Standard</string>
				<string>14&apos;</string>
				<string>16&apos;</string>
				<string>18&apos;</string>
				<string>21&apos;</string>
			</array>
			<key>specifications</key>
			<dict>
				<key>Capacity(lbs)</key>
				<string>12000</string>
				<key>Standard Mass Lift Height</key>
				<string>144&apos;&apos;</string>
				<key>Height Mast Closed</key>
				<string>120&apos;&apos;</string>
				<key>Maximum</key>
				<string>192&apos;&apos;</string>
				<key>Overall length</key>
				<string>100&apos;&apos;</string>
				<key>Mast travel </key>
				<string>48&apos;&apos;</string>
				<key>Ground clearence</key>
				<string>11&apos;&apos;</string>
				<key>Ground to wheelbase</key>
				<string>11.5&apos;&apos;</string>
				<key>Height</key>
				<string>108&apos;&apos;</string>
				<key>Width</key>
				<string>92.5&apos;&apos;</string>
				<key>Ouside spread of fork</key>
				<string>48&apos;&apos;</string>
				<key>Track front</key>
				<string>79&apos;&apos;</string>
				<key>Frame opening</key>
				<string>55&apos;&apos;</string>
				<key>Wheel base</key>
				<string>78&apos;&apos;</string>
				<key>Approach angle</key>
				<string>45˚</string>
				<key>Ramp angle</key>
				<string>30˚</string>
				<key>Departure angle</key>
				<string>45˚</string>
				<key>Unladen weight</key>
				<string>17464</string>
				<key>Maximum speed</key>
				<string>10mph</string>
				<key>Gradeability</key>
				<string>20%</string>
				<key>Gas type</key>
				<string>various</string>
				<key>Fork section 50mm</key>
				<string>6&apos;&apos;x46&apos;&apos;</string>
				<key>Front tire</key>
				<string>23&apos;&apos;x9&apos;&apos;</string>
				<key>Rear tire</key>
				<string>32&apos;&apos;x8&apos;&apos;</string>
				<key>Forward tilt</key>
				<string>5˚</string>
				<key>Backward tilt</key>
				<string>5˚</string>
				<key>Min out rad</key>
				<string>101</string>
				<key>Platform height</key>
				<string>28</string>
			</dict>
			<key>series</key>
			<string>4DML SERIES</string>
			<key>imgName</key>
			<string>4DML.png</string>
			<key>description</key>
			<string>The 4D MultiLoader (4DML) Series is a four way, all-wheel drive, all-wheel steer and all-wheel brake truck that is offered in capacities from 6,000 to 22,000 lbs and lift heights from 12’ to 24’. It undertakes
the duties of aisle truck, traditional forklift and sideloader. Equipment features include a hydrostatic drive system, a torsion resistant frame consisting of up to 8” thick steel plate and a ergonomically designed operator’s compartment. Spreader carriages are offered up to 30’ with outer fixed forks. Guide rollers can be added for specialty applications. The 4DML is an ideal series for handling long or normal loads that have to go from inside or outside, on to or off of racks and narrow aisles and doorways.</string>
			<key>type</key>
			<string>4DML</string>
			<key>name</key>
			<string>4DH12-12Q</string>
		</dict>
	</dict>
	<key>14000</key>
	<dict>
		<key>4DH12-14Q</key>
		<dict>
			<key>options</key>
			<array>
				<string>Mast Height</string>
			</array>
			<key>additional options</key>
			<array>
				<string>Cabin</string>
				<string>Exterior Mirrors</string>
				<string>Fork Positioner</string>
				<string>Block Heater</string>
				<string>Freelift</string>
			</array>
			<key>mast height</key>
			<array>
				<string>12&apos; Standard</string>
				<string>14&apos;</string>
				<string>16&apos;</string>
				<string>18&apos;</string>
				<string>21&apos;</string>
			</array>
			<key>specifications</key>
			<dict>
				<key>Capacity(lbs)</key>
				<string>14000</string>
				<key>Standard Mass Lift Height</key>
				<string>144&apos;&apos;</string>
				<key>Height Mast Closed</key>
				<string>120&apos;&apos;</string>
				<key>Maximum</key>
				<string>192&apos;&apos;</string>
				<key>Overall length</key>
				<string>101&apos;&apos;</string>
				<key>Mast travel </key>
				<string>48&apos;&apos;</string>
				<key>Ground clearence</key>
				<string>11&apos;&apos;</string>
				<key>Ground to wheelbase</key>
				<string>11.5&apos;&apos;</string>
				<key>Height</key>
				<string>108&apos;&apos;</string>
				<key>Width</key>
				<string>104&apos;&apos;</string>
				<key>Ouside spread of fork</key>
				<string>58&apos;&apos;</string>
				<key>Track front</key>
				<string>90&apos;&apos;</string>
				<key>Frame opening</key>
				<string>65&apos;&apos;</string>
				<key>Wheel base</key>
				<string>78&apos;&apos;</string>
				<key>Approach angle</key>
				<string>45˚</string>
				<key>Ramp angle</key>
				<string>30˚</string>
				<key>Departure angle</key>
				<string>45˚</string>
				<key>Unladen weight</key>
				<string>19259</string>
				<key>Maximum speed</key>
				<string>10mph</string>
				<key>Gradeability</key>
				<string>20%</string>
				<key>Gas type</key>
				<string>various</string>
				<key>Fork section 50mm</key>
				<string>6&apos;&apos;x46&apos;&apos;</string>
				<key>Front tire</key>
				<string>23&apos;&apos;x9&apos;&apos;</string>
				<key>Rear tire</key>
				<string>32&apos;&apos;x8&apos;&apos;</string>
				<key>Forward tilt</key>
				<string>5˚</string>
				<key>Backward tilt</key>
				<string>5˚</string>
				<key>Min out rad</key>
				<string>108</string>
				<key>Platform height</key>
				<string>28</string>
			</dict>
			<key>series</key>
			<string>4DML SERIES</string>
			<key>imgName</key>
			<string>4DML.png</string>
			<key>description</key>
			<string>The 4D MultiLoader (4DML) Series is a four way, all-wheel drive, all-wheel steer and all-wheel brake truck that is offered in capacities from 6,000 to 22,000 lbs and lift heights from 12’ to 24’. It undertakes
the duties of aisle truck, traditional forklift and sideloader. Equipment features include a hydrostatic drive system, a torsion resistant frame consisting of up to 8” thick steel plate and a ergonomically designed operator’s compartment. Spreader carriages are offered up to 30’ with outer fixed forks. Guide rollers can be added for specialty applications. The 4DML is an ideal series for handling long or normal loads that have to go from inside or outside, on to or off of racks and narrow aisles and doorways.</string>
			<key>type</key>
			<string>4DML</string>
			<key>name</key>
			<string>4DH12-14Q</string>
		</dict>
	</dict>
	<key>18000</key>
	<dict>
		<key>4DH15-18Q</key>
		<dict>
			<key>options</key>
			<array>
				<string>Mast Height</string>
			</array>
			<key>additional options</key>
			<array>
				<string>Cabin</string>
				<string>Exterior Mirrors</string>
				<string>Fork Positioner</string>
				<string>Block Heater</string>
				<string>Freelift</string>
			</array>
			<key>mast height</key>
			<array>
				<string>12&apos; Standard</string>
				<string>14&apos;</string>
				<string>16&apos;</string>
				<string>18&apos;</string>
				<string>21&apos;</string>
			</array>
			<key>specifications</key>
			<dict>
				<key>Capacity(lbs)</key>
				<string>18000</string>
				<key>Standard Mass Lift Height</key>
				<string>180&apos;&apos;</string>
				<key>Height Mast Closed</key>
				<string>135&apos;&apos;</string>
				<key>Maximum</key>
				<string>228&apos;&apos;</string>
				<key>Overall length</key>
				<string>116*60&apos;&apos;P</string>
				<key>Mast travel </key>
				<string>59&apos;&apos;</string>
				<key>Ground clearence</key>
				<string>12&apos;&apos;</string>
				<key>Ground to wheelbase</key>
				<string>11.5&apos;&apos;</string>
				<key>Height</key>
				<string>108&apos;&apos;</string>
				<key>Width</key>
				<string>110&apos;&apos;</string>
				<key>Ouside spread of fork</key>
				<string>58&apos;&apos;</string>
				<key>Track front</key>
				<string>96&apos;&apos;</string>
				<key>Frame opening</key>
				<string>65&apos;&apos;</string>
				<key>Wheel base</key>
				<string>94&apos;&apos;</string>
				<key>Approach angle</key>
				<string>45˚</string>
				<key>Ramp angle</key>
				<string>30˚</string>
				<key>Departure angle</key>
				<string>45˚</string>
				<key>Unladen weight</key>
				<string>25447</string>
				<key>Maximum speed</key>
				<string>10mph</string>
				<key>Gradeability</key>
				<string>15%</string>
				<key>Gas type</key>
				<string>various</string>
				<key>Fork section 50mm</key>
				<string>6&apos;&apos;x58&apos;&apos;</string>
				<key>Front tire</key>
				<string>23&apos;&apos;x9&apos;&apos;</string>
				<key>Rear tire</key>
				<string>32&apos;&apos;x12&apos;&apos;</string>
				<key>Forward tilt</key>
				<string>5˚</string>
				<key>Backward tilt</key>
				<string>5˚</string>
				<key>Min out rad</key>
				<string>118</string>
				<key>Platform height</key>
				<string>28</string>
			</dict>
			<key>series</key>
			<string>4DML SERIES</string>
			<key>imgName</key>
			<string>4DML.png</string>
			<key>description</key>
			<string>The 4D MultiLoader (4DML) Series is a four way, all-wheel drive, all-wheel steer and all-wheel brake truck that is offered in capacities from 6,000 to 22,000 lbs and lift heights from 12’ to 24’. It undertakes
the duties of aisle truck, traditional forklift and sideloader. Equipment features include a hydrostatic drive system, a torsion resistant frame consisting of up to 8” thick steel plate and a ergonomically designed operator’s compartment. Spreader carriages are offered up to 30’ with outer fixed forks. Guide rollers can be added for specialty applications. The 4DML is an ideal series for handling long or normal loads that have to go from inside or outside, on to or off of racks and narrow aisles and doorways.</string>
			<key>type</key>
			<string>4DML</string>
			<key>name</key>
			<string>4DH15-18Q</string>
		</dict>
	</dict>
	<key>20000</key>
	<dict>
		<key>4DH15-20Q</key>
		<dict>
			<key>options</key>
			<array>
				<string>Mast Height</string>
			</array>
			<key>additional options</key>
			<array>
				<string>Cabin</string>
				<string>Exterior Mirrors</string>
				<string>Fork Positioner</string>
				<string>Block Heater</string>
				<string>Freelift</string>
			</array>
			<key>mast height</key>
			<array>
				<string>12&apos; Standard</string>
				<string>14&apos;</string>
				<string>16&apos;</string>
				<string>18&apos;</string>
				<string>21&apos;</string>
			</array>
			<key>specifications</key>
			<dict>
				<key>Capacity(lbs)</key>
				<string>20000</string>
				<key>Standard Mass Lift Height</key>
				<string>180&apos;&apos;</string>
				<key>Height Mast Closed</key>
				<string>135&apos;&apos;</string>
				<key>Maximum</key>
				<string>228&apos;&apos;</string>
				<key>Overall length</key>
				<string>121*60&apos;&apos;P</string>
				<key>Mast travel </key>
				<string>62&apos;&apos;</string>
				<key>Ground clearence</key>
				<string>8&apos;&apos;</string>
				<key>Ground to wheelbase</key>
				<string>6&apos;&apos;</string>
				<key>Height</key>
				<string>108&apos;&apos;</string>
				<key>Width</key>
				<string>110&apos;&apos;</string>
				<key>Ouside spread of fork</key>
				<string>58&apos;&apos;</string>
				<key>Track front</key>
				<string>98&apos;&apos;</string>
				<key>Frame opening</key>
				<string>65&apos;&apos;</string>
				<key>Wheel base</key>
				<string>101&apos;&apos;</string>
				<key>Approach angle</key>
				<string>45˚</string>
				<key>Ramp angle</key>
				<string>30˚</string>
				<key>Departure angle</key>
				<string>45˚</string>
				<key>Unladen weight</key>
				<string>30200</string>
				<key>Maximum speed</key>
				<string>10mph</string>
				<key>Gradeability</key>
				<string>15%</string>
				<key>Gas type</key>
				<string>various</string>
				<key>Fork section 50mm</key>
				<string>8&apos;&apos;x60&apos;&apos;</string>
				<key>Front tire</key>
				<string>22&apos;&apos;x12&apos;&apos;</string>
				<key>Rear tire</key>
				<string>33&apos;&apos;x14&apos;&apos;</string>
				<key>Forward tilt</key>
				<string>5˚</string>
				<key>Backward tilt</key>
				<string>5˚</string>
				<key>Min out rad</key>
				<string>121</string>
				<key>Platform height</key>
				<string>28</string>
			</dict>
			<key>series</key>
			<string>4DML SERIES</string>
			<key>imgName</key>
			<string>4DML.png</string>
			<key>description</key>
			<string>The 4D MultiLoader (4DML) Series is a four way, all-wheel drive, all-wheel steer and all-wheel brake truck that is offered in capacities from 6,000 to 22,000 lbs and lift heights from 12’ to 24’. It undertakes
the duties of aisle truck, traditional forklift and sideloader. Equipment features include a hydrostatic drive system, a torsion resistant frame consisting of up to 8” thick steel plate and a ergonomically designed operator’s compartment. Spreader carriages are offered up to 30’ with outer fixed forks. Guide rollers can be added for specialty applications. The 4DML is an ideal series for handling long or normal loads that have to go from inside or outside, on to or off of racks and narrow aisles and doorways.</string>
			<key>type</key>
			<string>4DML</string>
			<key>name</key>
			<string>4DH15-20Q</string>
		</dict>
	</dict>
	<key>22000</key>
	<dict>
		<key>4DH15-22Q</key>
		<dict>
			<key>options</key>
			<array>
				<string>Mast Height</string>
			</array>
			<key>additional options</key>
			<array>
				<string>Cabin</string>
				<string>Exterior Mirrors</string>
				<string>Fork Positioner</string>
				<string>Block Heater</string>
				<string>Freelift</string>
			</array>
			<key>mast height</key>
			<array>
				<string>12&apos; Standard</string>
				<string>14&apos;</string>
				<string>16&apos;</string>
				<string>18&apos;</string>
				<string>21&apos;</string>
			</array>
			<key>specifications</key>
			<dict>
				<key>Capacity(lbs)</key>
				<string>22000</string>
				<key>Standard Mass Lift Height</key>
				<string>180&apos;&apos;</string>
				<key>Height Mast Closed</key>
				<string>135&apos;&apos;</string>
				<key>Maximum</key>
				<string>228&apos;&apos;</string>
				<key>Overall length</key>
				<string>121*60&apos;&apos;P</string>
				<key>Mast travel </key>
				<string>62&apos;&apos;</string>
				<key>Ground clearence</key>
				<string>8&apos;&apos;</string>
				<key>Ground to wheelbase</key>
				<string>6&apos;&apos;</string>
				<key>Height</key>
				<string>108&apos;&apos;</string>
				<key>Width</key>
				<string>110&apos;&apos;</string>
				<key>Ouside spread of fork</key>
				<string>58&apos;&apos;</string>
				<key>Track front</key>
				<string>98&apos;&apos;</string>
				<key>Frame opening</key>
				<string>65&apos;&apos;</string>
				<key>Wheel base</key>
				<string>101&apos;&apos;</string>
				<key>Approach angle</key>
				<string>45˚</string>
				<key>Ramp angle</key>
				<string>30˚</string>
				<key>Departure angle</key>
				<string>45˚</string>
				<key>Unladen weight</key>
				<string>30200</string>
				<key>Maximum speed</key>
				<string>10mph</string>
				<key>Gradeability</key>
				<string>15%</string>
				<key>Gas type</key>
				<string>various</string>
				<key>Fork section 50mm</key>
				<string>8&apos;&apos;x60&apos;&apos;</string>
				<key>Front tire</key>
				<string>22&apos;&apos;x12&apos;&apos;</string>
				<key>Rear tire</key>
				<string>33&apos;&apos;x14&apos;&apos;</string>
				<key>Forward tilt</key>
				<string>5˚</string>
				<key>Backward tilt</key>
				<string>5˚</string>
				<key>Min out rad</key>
				<string>121</string>
				<key>Platform height</key>
				<string>28</string>
			</dict>
			<key>series</key>
			<string>4DML SERIES</string>
			<key>imgName</key>
			<string>4DML.png</string>
			<key>description</key>
			<string>The 4D MultiLoader (4DML) Series is a four way, all-wheel drive, all-wheel steer and all-wheel brake truck that is offered in capacities from 6,000 to 22,000 lbs and lift heights from 12’ to 24’. It undertakes
the duties of aisle truck, traditional forklift and sideloader. Equipment features include a hydrostatic drive system, a torsion resistant frame consisting of up to 8” thick steel plate and a ergonomically designed operator’s compartment. Spreader carriages are offered up to 30’ with outer fixed forks. Guide rollers can be added for specialty applications. The 4DML is an ideal series for handling long or normal loads that have to go from inside or outside, on to or off of racks and narrow aisles and doorways.</string>
			<key>type</key>
			<string>4DML</string>
			<key>name</key>
			<string>4DH15-22Q</string>
		</dict>
	</dict>
</dict>
</plist>
