<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Omega Lift 2X Series</key>
	<string>2X</string>
	<key>Omega Lift 44236 Series</key>
	<string>44236</string>
	<key>Omega Lift ALPHA Series</key>
	<string>ALPHA</string>
	<key>Omega Lift HERC Series</key>
	<string>HERC</string>
	<key>Omega Lift MEGA Series</key>
	<string>MEGA</string>
	<key>Omega Lift UG Series</key>
	<string>UG</string>
	<key>Omega Lift ARM Series</key>
	<string>ARM</string>
	<key>Omega Lift ARM-XL Series</key>
	<string>ARM-XL</string>
	<key>Omega Lift 4DML Series</key>
	<string>4DML</string>
	<key>Omega Lift ML Series</key>
	<string>ML</string>
</dict>
</plist>
