<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5000</key>
	<dict>
		<key>ML50-10</key>
		<dict>
			<key>mast height</key>
			<array>
				<string>12&apos; Standard</string>
				<string>14&apos;</string>
				<string>16&apos;</string>
				<string>18&apos;</string>
				<string>21&apos;</string>
			</array>
			<key>specifications</key>
			<dict>
				<key>Lift Capacity@24 load centre (lbs)</key>
				<string>5,000</string>
				<key>Overall length</key>
				<string>96.5&apos;&apos;</string>
				<key>Overall width</key>
				<string>99&apos;&apos;</string>
				<key>Wheelbase</key>
				<string>65&apos;&apos;</string>
				<key>Height to top canopy</key>
				<string>99.5&apos;&apos;</string>
				<key>Closed height standard mast</key>
				<string>92.5&apos;&apos;</string>
				<key>Max lift height</key>
				<string>120&apos;&apos;</string>
				<key>Height standard full mast tilt</key>
				<string>93.5&apos;&apos;</string>
				<key>Outside turning radius</key>
				<string>85&apos;&apos;</string>
				<key>Ground clearence</key>
				<string>11&apos;&apos;</string>
				<key>Mast clearence</key>
				<string>11&apos;&apos;</string>
				<key>Mast tilt forward</key>
				<string>10˚</string>
				<key>Mast tilt rear</key>
				<string>8˚</string>
				<key>Travel speed unladen</key>
				<string>7mph</string>
				<key>Gradeability</key>
				<string>30%</string>
				<key>Drive</key>
				<string>3 Wheel Hydrostatic</string>
				<key>Front tire</key>
				<string>31&apos;&apos;x15.5&apos;&apos;-15R1</string>
				<key>Rear tire</key>
				<string>31&apos;&apos;x15.5&apos;&apos;-15R1</string>
				<key>Engine</key>
				<string>Turbo Diesel</string>
				<key>Cylinders</key>
				<string>4</string>
				<key>Horsepower</key>
				<string>49HP@2400RPM</string>
				<key>Overhang</key>
				<string>64&apos;&apos;</string>
				<key>Shipping weight(lbs)</key>
				<string>6,100</string>
			</dict>
			<key>series</key>
			<string>ML SERIES</string>
			<key>imgName</key>
			<string>ML.png</string>
			<key>description</key>
			<string>The ML is a compact all wheel drive truck mounted forklift that was designed to operate in both paved and rough terrain in a variety of applications.The ML is offered in a 5000 lb lift capacty which easily mounts to your trailer and comes standard with LED lights.</string>
			<key>type</key>
			<string>ML</string>
			<key>name</key>
			<string>ML50-10</string>
			<key>options</key>
			<array>
				<string>Mast Height</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
